.ml-10 {
  margin-left: 6vw;
}
.ml-11{
  margin-left: 3vw;
}

.mt-43 {
  margin-top: 43px;
}

.mt-32 {
  margin-top: 32px;
}
.heading-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 13px;
  margin-top: 5px;
  width: 88vw !important;
}
  
.pd input {
  margin-left: 0rem;
}

.text-grey2 {
  font-size: 14px !important;
  line-height: 17.07px;
  font-weight: 400 !important;
  color: rgba(128, 128, 128, 1) !important;
}

.input-border-2 {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 9px;
  width: 87vw;
  font-size: 14px;
  margin: auto;
  margin-top: 3px;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.13);
  padding: 0.5rem;
  padding-left: 0px;
}
.sign-btn {
  height: 50px;
  font-size: 16px;
}
