.text-right {
    text-align: right;
}

.pr-2 {
    padding-right: 27px;
}

.pl-2 {
    padding-left: 27px;
}

.setting-text {
    font-Weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: rgba(128, 128, 128, 1);
}

.text-dec{
    color: rgba(128, 128, 128, 1);
    text-decoration: none;
}

.mt-50{
    margin-top: 50px;
}