.login-background {
  background-image: url("/public/assets/login-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-outer {
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 65px;
  height: 81px;
  width: 81px;
  border-radius: 50%;
  background: #eeeeee;
}

.fs-25 {
  font-size: 25px;
  margin-top: 14px;
  color: white;
  font-weight: 700;
}

.empty {
  padding: 25px 0px;
  margin-top: 25px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: #ffffff;
}

.logo {
  width: 55px;
  height: 55px;
  position: relative;
  top: 12px;
  margin: auto !important;
}

.sign-with {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #808080;
}

.light-text {
  font-size: 14px;
  color: #808080;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
}

.dark-text {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #808080;
}

.login-box {
  padding-bottom: 25px;
}

.bg-dark {
  background: #324755;
  width: 100%;
  height: 60px;
  bottom: 0;
}