.round-logo-buttons{
    padding: 0%;
    border-radius: 50%;
    height: 50px;
    margin: 23px 20px;
    width: 50px;
    --border-color:rgba(112, 112, 112, 1);
}

.center{
    margin: auto;
}

.logo-size{
    height: 35px !important;
    width: 35px !important;
}
