.pg-grey {
  background: #324755;
  padding-bottom: 38px;
}

/* .text-left {
  text-align: left;
} */

.event-heading {
  text-align: center;
  color: #707070;
  font-size: 16px;
  font-weight: 700;
}

.events {
  /* margin: 10px 10px; */
  background: none;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 10px; */
  line-height: 12px;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.events-btns {
  margin: 0 20px;
}

.event-btn {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.event-btn-clicked {
  background: #4ca1d8;
  border-radius: 10px;
  border: none;
  color: #fff !important;
}

.event-btn:focus {
  background: #4ca1d8;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.card:nth-child(odd) {
  background: #eeeeee;
}

.event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.events-icons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-img {
  margin-left: 10px;
  margin-top: -1rem;
  padding: 0.5rem;
  width: 35px;
}

.user {
  width: 40px;
}

.user-img:hover {
  cursor: pointer;
  background-color: #d0c1c1;
  border-radius: 10px;
}

.add-btn {
  margin-right: 1.4rem;
  margin-bottom: 0.5rem;
  height: 35px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.start p {
  font-weight: 700;
  margin-bottom: 0;
}
