.save-btn {
  height: 50px;
  font-weight: 600;
}

.col51 {
  /* margin-left: 5px;
  margin-right: 28px; */
  width: auto;
}
.col52 {
  /* margin-right: 5px; */
  width: auto;
  /* margin-left: 25px; */
}
.double-input{
  width: 88vw;
  display: flex;
  margin: auto;
  justify-content: center;
}
